.details-view{
  margin: 10px;
  height: 90%;
}

.headers{
    display: flex;
    justify-content: space-evenly;
  }

  .providers-view{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .views{
    margin: 10px;
    border: 0.15px solid grey;
  }