/* DetailsView.css */
.details-view {
  display: flex;
}

.sidebar {
  width: 50%;
  transition: width 0.3s ease;
  overflow-x: hidden;
  border: 1px solid black;
}

.sidebar.closed {
  width: 0;
  border: none;
}

.body {
  flex: 1;
  padding: 20px;
}

.headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.providers-view {
  /* display: flex;
  flex-direction: column; 
  gap: 16px;  */
}
