/* Container for the details view */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.details-view-container {
  display: flex;
  flex-direction: row; /* Sidebar and body side by side */
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
  width: 100%;
}

/* Sidebar styles */
.sidebar {
  /* width: 50px; */
  justify-content: flex-start;
  top: 50%;
  left: 0;
  /* width: 5px; */
  height: 75%;
  overflow-x: hidden;
  transition: width 0.3s ease;
  background-color: #f1f1f1;
}

.sidebar.open {
  width: 50%; /* Opened sidebar width */
  padding: 15px;
}

.sidebar.closed {
  width: 0; /* Closed sidebar width */
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: width 0.3s ease;
}

.headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.providers-view {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 5px;
}

.views {
 
  padding: 10px;
  flex: 1 1 calc(50% - 10px); /* Two-column layout */
}

/* Responsive design: stack sidebar and content vertically on smaller screens */
@media (max-width: 768px) {
  .details-view-container {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 40%; /* Sidebar takes full width */
    padding: 5px;
  }

  .main-content {
    width: 40%;
     /* Main content also takes full width */
  }

  .views {
    flex: 1 1 100%;
     /* Stack service provider details */
  }
}
