.service-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}

.service-avatar {
  width: 120px;  /* Increased the size */
  height: 120px; /* Increased the size */
  margin-right: 40px;
  /* flex-shrink: 0; */
}

.service-details {
  flex-grow: 1;
  padding-right: 50px;
  border-right: 1px solid black;
}

.service-ratings {
  padding-left: 70px; /* Increased padding to add more space */
}

.ratings, .availability, .location {
  margin-top: 8px;
  display: flex;
  align-items: right;
}
