/* Styling for the Navbar and header */
.header {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 209, 213);
   /* Ensures the navbar takes up 100% of its container's height */
  border: 1px solid gray;
}

.header-alignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%; /* The parent div should have 100% height */
}

/* Styling for the logo and text container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between logo and text */
  margin-left: 20px; /* Add margin to move the logo to the right */
}

.logo-style {
  height: auto; /* Ensure the logo adjusts its height proportionally */
  max-height: 100%; /* Make sure it doesn't exceed the container's height */
  width: 65px; /* Adjust width to fit your layout */
  
}

/* Styling for the logo text */
.logo-text {
  display: flex;
  flex-direction: column; 
  /* Stack the 'Home' and 'ServEase' vertically */
  white-space: 0;
  font: icon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-text {
  font-size: 13px; /* Font size for 'Home' */
  font-weight: 600;
  color: #0683f9; 
  
  
}

.servease-text {
  font-size: 20px; /* Font size for 'ServEase' */
  font-weight: 650;
  color: #0683f9; 
  
}

/* Dropdown container */
.dropdowns-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-grow: 1; /* Allow it to take up available space */
  padding-right: 25px;
}

/* Navbar Dropdown Button */
.dropdown-left {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Push the text to the left and the arrow to the right */
  padding: 5px 15px; /* Make the dropdown smaller */
  border: 1px solid #0d6efd;
  border-radius: 25px;
  width: 150px; /* Adjust width to make it smaller */
  font-size: 14px; /* Reduce font size to make it smaller */
  background-color: white;
}

/* Location icon with text */
.location-icon-text {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between the icon and the text */
}

/* Account icon styling */
.MuiIconButton-root {
  color: #0d6efd;
}

/* Navbar styling */
/* .navbar {
  height: 100%; 
  
} */
