/* Footer Styling */

.footer {
  background-color: #f6f6f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 209, 213);
  height: 100%; /* Full height */
  border-top: 1px  grey;
  /* padding: 20px 0; */
  overflow: hidden; /* Hide overflow */
  
}

/* Footer Logo */
.footer-logo {
  font-size: 30px;
  /* font-weight: bold; */
  /* font-weight: 100px; */
  text-align: center;
  color: #0683f9; 
  padding-top: 9px;
  font: icon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between icons */
  padding: 0;
  flex-wrap: wrap; /* Allow icons to wrap on small screens */
  padding-bottom: 10px;
}

/* Links and Icon Styling */
.social-media a {
  transition: transform 0.3s ease; /* Smooth hover effect */
  display: inline-flex;
  align-items: center;
}

.social-media a:hover {
  transform: scale(1.2); /* Enlarge on hover */
}

/* Specific Brand Colors */
.social-media a .twitter {
  color: black;
}

.social-media a .instagram {
  color: #E4405F;
}

.social-media a .youtube {
  color: #FF0000;
}

.social-media a .linkedin {
  color: #0077B5;
}

.social-media a .facebook {
  color: #4267B2;
}

/* Ensuring Icons Render Correctly */
.social-media a svg {
  display: block;
  height: 24px;
  width: 24px;
}

/* Footer Sections */
.footer-section {
  text-align: left;
}

.footer-section h4 {
  white-space: nowrap;
  color: black;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  color: #333;
  white-space: nowrap;
  padding: 4px;
}

.footer-tooltip {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
}

.footer-section ul li a {
  color: black;
  text-decoration: underline;
}

.footer-section ul li a:hover {
  color: #007bff;
}

/* Media Responsiveness */

/* Mobile Screens */
@media (max-width: 600px) {
  .footer {
    padding: 10px 0;
  }

  .footer-logo {
    font-size: 30px;
  }

  .social-media {
    gap: 10px;
  }

  .social-media a svg {
    height: 18px;
    width: 18px;
  }
}

/* Tablet Screens */
@media (max-width: 900px) {
  .footer {
    padding: 15px 0;
  }

  .footer-logo {
    font-size: 20px;
  }

  .social-media {
    gap: 15px;
  }

  .social-media a svg {
    height: 20px;
    width: 20px;
  }
}

/* Desktop / Normal Screen */
@media (min-width: 901px) {
  .footer {
    padding: 20px 0;
  }

  .footer-logo {
    font-size: 24px;
  }

  .social-media {
    gap: 20px;
  }

  .social-media a svg {
    height: 24px;
    width: 24px;
  }
}
